doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src='/lib/jquery-3.1.1.slim.min.js')
    link(rel='stylesheet' href='/lib/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(rel='stylesheet' href='/lib/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous')
    script(src='/lib/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    link(href='/fonts/Roboto-Regular.woff2' rel='font-family')
    link(rel='stylesheet' href='/lib/font-awesome.min.css')
    meta(charset='utf-8')
    meta(name='microtip' content='1EQQ2nE8eUEqQwqbpDQh8xUTa3F9VPiWkk' data-currency='btc')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
